
form {
  color: gray;
  font-size: 13px;
}

h2 {
  text-align: center;
}

.form {
  padding: 1em;
}

label {
  display: flex;
  font-weight: 600;
}

.Login form button.testbutton {
  padding: 5px 5px;
  width: 85%;
  justify-content: flex-end;
  background-color: #E58B88;
  border-radius: 3px;
  border-color: #D2A3A9;
  color: white;
  font-weight: bold;
}

.Login form button.testbutton:enabled:hover {
  border: none;
  background-color: #CA7E8D
}

.Login form button.testbutton:active:hover {
  background-color: #CA7E8D
}

.Login form button.testbutton:active:focus {
  background-color: #CA7E8D
}



.Login {
  padding: 60px 0;

}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}

.Login form h1 {
  text-align: center;
}

a {
  color: gray;
}
