
form {
  color: gray;
  font-size: 13px;
}

h2 {
  text-align: center;
}

.form {
  padding: 1em;
}

label {
  display: flex;
  font-weight: 600;
}

.Login form button {
  padding: 5px 5px;
  justify-content: flex-end !important;
  background-color: white !important;
  border-radius: 3px !important;
  border-color: black !important;
  color: black !important;
}


.Login {
  padding: 60px 0;

}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}

.Login form h1 {
  text-align: center;
}
