.individual-link {
  color: #484646 !important;
  color: black !important;
  /* font-weight: bold !important; */
}

.nav-link:hover {
  background-color: #DAD1CF !important;
  border-radius: 2px !important;
}


/* .navbar ul{
  padding: 0px 15px !important;
} */

#navbar-link-id {
  color: #484646;
  font-style: bold;
  font-weight: bold !important;
  padding: 5px 5px;
  text-decoration:none;
}

.nav-link-login:hover {
  background-color: #DAD1CF;
  border-radius: 2px;
}

.navbar {
  /* background: linear-gradient(45deg, #EC6F66, #F3A183);
  background: linear-gradient(45deg, #ED4264, #FFEDBC);
  background: linear-gradient(45deg, #DC2424, #4A569D);

  background: linear-gradient(45deg, #614385, #516395);
  background: linear-gradient(45deg, #DD5E89, #F7BB97);
  background: none; */
  /* border-bottom-color: black !important;
  border-bottom-width: 5px !important; */
}

.navbar-brand {
  padding-left: 50px;
}

.text-logo {
  padding-left: 5px;
  font-weight: bold;
}

.icon-logo {
  color: #800080;
}
