.sidebar {
  border-right: 1px solid rgb(221, 221, 221);
}

.BrowsePage {
  padding: 15px 60px;
}

.browseAll {
  padding: 0px 0px;
  background:none;
  border:none;
}

ListGroup.Item {
  background-color: red !important;
}
